.axis text {
    font: 16px sans-serif;
}

.axis line,
.axis path {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
    stroke-width: 1.5px;
}

.axis .minor {
    stroke: #666;
    stroke-width: 1px;
}

.axis .major {
    stroke-width: 2px;
}

.main {
    font: bold 64px monospace;
}
