.axis text {
    font: 10px sans-serif;
}

.axis line,
.axis path {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
    stroke-width: 1.5px;
}
.axis .minor {
    stroke: red;
    stroke-width: 1px;
}