<div ng-controller="NumberLineController">
    <div class="container">
        <div class="row">
            <number-line binding="number_line"></number-line>
        </div>
        <div class="row">

            <div class="col-lg-4"></div>

            <div class="col-lg-4">
                <div class="btn-group-vertical" role="group" aria-label="...">
                    <button type="button" class="btn btn-default"
                            ng-click="change(1)">+</button>
                    <button type="button" class="btn btn-default">1</button>
                    <button type="button" class="btn btn-default"
                            ng-click="change(-1)">-</button>
                </div>
                <div class="btn-group-vertical" role="group" aria-label="...">
                    <button type="button" class="btn btn-default"
                            ng-click="change(0.1)">+</button>
                    <button type="button" class="btn btn-default">0.1</button>
                    <button type="button" class="btn btn-default"
                            ng-click="change(-0.1)">-</button>
                </div>
                <div class="btn-group-vertical" role="group" aria-label="...">
                    <button type="button" class="btn btn-default"
                            ng-click="change(0.01)">+</button>

                    <button type="button" class="btn btn-default">0.01</button>
                    <button type="button" class="btn btn-default"
                            ng-click="change(-0.01)">-</button>
                </div>
            </div>
            <div class="col-lg-4"></div>
        </div>
    </div>
</div>