<div ng-controller="NumberLineController">
    <div class="container">
        <div class="row">
            <number-line binding="number_line"></number-line>
        </div>
        <div class="row">

            <div class="col-lg-1"></div>

            <div class="col-lg-2">
                <div class="btn-group-vertical"  style="width:100%" role="group" aria-label="...">
                    <button type="button" class="btn btn-default btn-lg"
                            ng-click="change(1)">+</button>
                    <button type="button" class="btn btn-default btn-lg">One Whole<br>(1)</button>
                    <button type="button" class="btn btn-default btn-lg"
                            ng-click="change(-1)">-</button>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="btn-group-vertical" style="width:100%" role="group" aria-label="...">
                    <button type="button" class="btn btn-default btn-lg"
                            ng-click="change(0.1)">+</button>
                    <button type="button" class="btn btn-default btn-lg">Tenths<br>(0.1)</button>
                    <button type="button" class="btn btn-default btn-lg"
                            ng-click="change(-0.1)">-</button>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="btn-group-vertical" style="width:100%" role="group" aria-label="...">
                    <button type="button" class="btn btn-default btn-lg"
                            ng-click="change(0.01)">+</button>

                    <button type="button" class="btn btn-default btn-lg">Hundredths<br>(0.01)</button>
                    <button type="button" class="btn btn-default btn-lg"
                            ng-click="change(-0.01)">-</button>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="btn-group-vertical" style="width:100%" role="group" aria-label="...">
                        <button type="button" class="btn btn-default btn-lg"
                                ng-click="change(0.001)">+</button>

                        <button type="button" class="btn btn-default btn-lg">Thousandths<br>(0.001)</button>
                        <button type="button" class="btn btn-default btn-lg"
                                ng-click="change(-0.001)">-</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>